<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="se.magnulund.android.wifilistwidget"
          android:versionCode="2"
          android:versionName="1.0.3">
    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17" android:maxSdkVersion="17"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.NFC" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:name="se.magnulund.android.wifilistwidget.WifiListWidgetApplication"
            android:theme="@style/APListTheme.Dark">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>
        <activity android:name=".settings.SettingsActivity"
                  android:label="@string/settings"/>
        <activity android:name=".widget.WifiWidgetConfigurationActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity android:name="com.crittercism.NotificationActivity"/>

        <receiver android:name=".wifiscan.WifiScanReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.net.wifi.SCAN_RESULTS"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".wifistate.WifiStateReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".supplicantchange.SupplicantChangeReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".supplicantstate.SupplicantStateReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.net.wifi.supplicant.STATE_CHANGE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".connectivitychange.ConnectivityChangeReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".widget.WifiWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <!-- This specifies the widget_listview provider info -->
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widgetinfo"/>
        </receiver>

        <receiver android:name=".receivers.BootReceiver"/>
        <receiver android:name=".receivers.AlarmReceiver"/>

        <!-- The service serving the RemoteViews to the collection widget_listview -->
        <service android:name=".widget.WifiWidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS"
                 android:exported="true"
                 android:process=":remote"/>
        <service android:name=".wifistate.WifiStateService"
                 android:enabled="true"
                 android:process=":remote"/>
        <service android:name=".wifiscan.WifiScanService"
                 android:enabled="true"
                 android:process=":remote"/>
        <service android:name=".supplicantchange.SupplicantChangeService"
                 android:enabled="true"
                 android:process=":remote"/>
        <service android:name=".supplicantstate.SupplicantStateService"
                 android:enabled="true"
                 android:process=":remote"/>
        <service android:name=".connectivitychange.ConnectivityChangeService"
                 android:enabled="true"
                 android:process=":remote"/>

    </application>
</manifest>
