<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="se.magnulund.android.wifilistwidget"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"> </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"> </uses-permission>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".WifiScanReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.SCAN_RESULTS"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".WifiStateReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".WifiNetworkConfigReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.NETWORK_IDS_CHANGED"/>
            </intent-filter>
        </receiver>
        <service android:name=".WifiStateService"
                android:enabled="true"/>
        <service android:name=".WifiScanService"
                 android:enabled="true"/>
        <service android:name=".WifiNetworkConfigService"
                 android:enabled="true"/>

        <provider android:name="ScanDataProvider"
                  android:authorities="se.magnulund.provider.ScanData" />
        <provider android:name="ConfiguredNetworksProvider"
                  android:authorities="se.magnulund.provider.ConfiguredNetworks"/>
    </application>
</manifest>
